.menu {
  flex: 1;
}

.searchbox {
  flex: 4;
  text-align: center;
}

.search {
  height: 30px;
  width: 40%;
  background-color: white;
}

.cart-icon {
  text-align: right;
  flex: 1;
}

a {
  color: white;
}

a:active {
  color: white;
}

.header {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}
